<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vue 3 연습 8</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/vue@next"></script>
    <script type="module">
        $(function () {
            const list = {
                data() {
                    return {
                        todos: [
                            { text: 'JavaScript 베우기' },
                            { text: 'Node 배우기' },
                            { text: 'Vue 배우기' },
                        ]
                    }
                }
            }
            Vue.createApp(list).mount('#app')
        });
    </script>
</head>

<body>
    <div id="app">
        <ol>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ol>
        <ul>
            <li v-for="todo in todos">
                {{ todo.text }}
            </li>
        </ul>
    </div>
</body>

</html>